@model List<MVCWithModel.Models.Character>


<h2>The characters are:</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Role</td>
        </tr>
    }
</table>
<div>
    <a asp-action="Create" class="btn btn-success">Add Another</a>
</div>

