@model MVCWithModel.Models.CharacterRepo


<h2>The characters are:</h2>
<ul>
    @foreach (var item in Model.CharacterList)
    {
    <li>
        @item.Name
    </li>
    }
</ul>
<div>
    <a asp-action="Create" class="btn btn-info">Add Another</a>
</div>

