

<div class="jumbotron">
    <h1>Character Hub</h1>
</div>
<h3>Your One Stop Shop for the Best in Characters</h3>
<div>
    <a asp-controller="Character" class="btn btn-success">Let's See Them!</a>
</div>

